/*
Skin Name: Default
Version: 1.0.0
Author: khromov
*/

.content_cards_card * {
	box-sizing: border-box;
}

.content_cards_card {
	background-color: white;
	border: 1px solid;
	border-color: #e9eaed #dadada #ccc;
	padding: 3px;

	margin-bottom: 20px;
}

.content_cards_card .content_cards_image {
	width: 100%;
	display: block;
	text-align: center;
}

.content_cards_card .content_cards_image img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/* Making this a bit more specific to make it harder for themes to override it */
html body .content_cards_card a,
html body .content_cards_card a:visited,
html body .content_cards_card a:active {
	box-shadow: none;
	color: #141412;
	text-decoration: none;
}

html body .content_cards_card a:hover,
html body .content_cards_card a:active {
	box-shadow: none;
	color: #4a4a48;
	text-decoration: none;
}

.content_cards_card .content_cards_center_image > a {
	border: 0;
}

.content_cards_card .content_cards_title {
	font-size: 22px;
	line-height: 1.5;
	color: #141412;

	font-weight: bold;
	margin: 10px 15px 7px 15px;
}

.content_cards_card .content_cards_description {
	font-size: 100%;
	line-height: 1.5;
	color: #141412;

	margin: 7px 15px 10px 15px;
}

.content_cards_card .content_cards_site_name {
	font-style: italic;
	font-size: 12px;
	line-height: 1.5;

	text-transform: uppercase;
	color: #9197a3;
	text-align: right;
	margin: 10px 15px;
}

.content_cards_card .content_cards_description > p {
	margin: 0;
	padding: 0;
}

.content_cards_favicon {
	max-height: 24px;
}